@model PoGoBattleHelper.ViewModels.ChooseMovesViewModel;

<div class="mx-auto pt-4 pb-3 text-center">
    <h3 class="h3"><strong>Your Team</strong></h3>
</div>
<div class="mx-auto text-center">
    @if (Model.TempTeam == null || Model.TempTeam.Count() == 0)
    {
        <span><strong>SOMETHING WENT WRONG. PLEASE TRY AGAIN.</strong></span>
        <br />
        <a asp-controller="ChooseTeam" asp-action="Index">Choose Pokemon by Type</a>
    }
    else
    {
        <table class="mx-auto text-center">
            <tbody>
                <tr>
                    @foreach (Pokemon poke in Model.TempTeam)
                    {
                        string modifier = "00";
                        if (poke.Name.ToLower().Contains("castform sunny"))
                        {
                            modifier = "12";
                        }
                        else if (poke.Name.ToLower().Contains("castform rainy"))
                        {
                            modifier = "13";
                        }
                        else if (poke.Name.ToLower().Contains("castform snowy"))
                        {
                            modifier = "14";
                        }
                        else if (poke.Name.ToLower().Contains("deoxys attack"))
                        {
                            modifier = "16";
                        }
                        else if (poke.Name.ToLower().Contains("deoxys defense"))
                        {
                            modifier = "17";
                        }
                        else if (poke.Name.ToLower().Contains("deoxys speed"))
                        {
                            modifier = "18";
                        }
                        else if (poke.Name.ToLower().Contains("burmy plant"))
                        {
                            modifier = "19";
                        }
                        else if (poke.Name.ToLower().Contains("burmy sandy"))
                        {
                            modifier = "20";
                        }
                        else if (poke.Name.ToLower().Contains("burmy trash"))
                        {
                            modifier = "21";
                        }
                        else if (poke.Name.ToLower().Contains("wormdam plant"))
                        {
                            modifier = "22";
                        }
                        else if (poke.Name.ToLower().Contains("wormdam sandy"))
                        {
                            modifier = "23";
                        }
                        else if (poke.Name.ToLower().Contains("wormdam trash"))
                        {
                            modifier = "24";
                        }
                        else if (poke.Name.ToLower().Contains("cherrim overcast"))
                        {
                            modifier = "25";
                        }
                        else if (poke.Name.ToLower().Contains("cherrim sunny"))
                        {
                            modifier = "26";
                        }
                        else if (poke.Name.ToLower().Contains("rotom heat"))
                        {
                            modifier = "27";
                        }
                        else if (poke.Name.ToLower().Contains("rotom wash"))
                        {
                            modifier = "28";
                        }
                        else if (poke.Name.ToLower().Contains("rotom frost"))
                        {
                            modifier = "29";
                        }
                        else if (poke.Name.ToLower().Contains("rotom fan"))
                        {
                            modifier = "30";
                        }
                        else if (poke.Name.ToLower().Contains("rotom mow"))
                        {
                            modifier = "91";
                        }
                        else if (poke.Name.ToLower().Contains("giratina altered"))
                        {
                            modifier = "32";
                        }
                        else if (poke.Name.ToLower().Contains("giratina origin"))
                        {
                            modifier = "33";
                        }
                        else if (poke.Name.ToLower().Contains("shaymin land"))
                        {
                            modifier = "34";
                        }
                        else if (poke.Name.ToLower().Contains("shaymin sky"))
                        {
                            modifier = "35";
                        }
                        else if (poke.Name.ToLower().Contains("alola"))
                        {
                            modifier = "61";
                        }
                        else if (poke.Name.ToLower().Contains("galar"))
                        {
                            modifier = "31";
                        }
                        else if (poke.Name.ToLower().Contains("mega"))
                        {
                            modifier = "51";
                        }
                        else
                        {
                            modifier = "00";
                        }

                        string dex = poke.Dex.ToString("D3");

                        <td class="p-3">
                            <div class="py-3 px-3 text-center">
                                <form id="@poke.Name.ToLower()" name="name" valign="bottom" method="post" action="ChooseMoves" class="py-0">
                                    <input type="hidden" id="@poke.Name.ToLower()" name="name" value="@poke.Name.ToLower()" />
                                    <input id="@poke.Name.ToLower()" name="name" type="image" value="@poke.Name.ToLower()" alt="@poke.Name" src="~/images/pokes/pokemon_icon_@(dex)_@(modifier).png" style="height: 130px; max-width: 150px">
                                </form>
                                <div class="py-0 text-center"><strong>@poke.Name</strong></div>
                            </div>
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="3">
                        <p class="mx-auto text-center">Choose a Pokemon above to select it's moves.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>


@if (Model.MyTeam != null)
{
    <div class="mx-auto text-center"><h4><strong>My Team Test</strong></h4></div>
    @if (Model.MyTeam.Count == 0)
    {<div class="mx-auto text-center">Please choose a team to test me</div>}
    <table class="table mx-auto">
        <tbody>
            @foreach (Pokemon poke in Model.MyTeam)
            {
                <tr>
                    <td>
                        <b>Poke:</b> @poke.Name
                    </td>
                    @foreach (PoGoBattleHelper.Models.Type type in poke.Types)
                    {
                        <td>
                            <b>Type:</b> @type.Name
                        </td>
                    }
                    @foreach (Move move in poke.CinematicMoves)
                    {
                        <td>
                            <b>Charged Move:</b> @move.Name
                        </td>
                        <td><b>Move Type:</b> @move.PokemonType.Name</td>
                    }
                    @foreach (Move move in poke.QuickMoves)
                    {
                        <td>
                            <b>Fast Move:</b>  @move.Name
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
