@model PoGoBattleHelper.ViewModels.ChooseMovesViewModel;

@if (Model.ChosenPoke != null)
{
    <div class="mx-auto pt-4 pb-3 text-center">
        <h3 class="h3"><strong>@Model.ChosenPoke.Name</strong></h3>
    </div>
    <div class="mx-auto text-center">
        <table class="mx-auto text-center">
            <tbody>
                <tr>
                    @{string modifier = "00";}
                    @if (Model.ChosenPoke.Name.ToLower().Contains("castform sunny"))
                    {
                        modifier = "12";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("castform rainy"))
                    {
                        modifier = "13";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("castform snowy"))
                    {
                        modifier = "14";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("deoxys attack"))
                    {
                        modifier = "16";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("deoxys defense"))
                    {
                        modifier = "17";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("deoxys speed"))
                    {
                        modifier = "18";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("burmy plant"))
                    {
                        modifier = "19";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("burmy sandy"))
                    {
                        modifier = "20";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("burmy trash"))
                    {
                        modifier = "21";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("wormdam plant"))
                    {
                        modifier = "22";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("wormdam sandy"))
                    {
                        modifier = "23";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("wormdam trash"))
                    {
                        modifier = "24";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("cherrim overcast"))
                    {
                        modifier = "25";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("cherrim sunny"))
                    {
                        modifier = "26";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("rotom heat"))
                    {
                        modifier = "27";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("rotom wash"))
                    {
                        modifier = "28";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("rotom frost"))
                    {
                        modifier = "29";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("rotom fan"))
                    {
                        modifier = "30";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("rotom mow"))
                    {
                        modifier = "91";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("giratina altered"))
                    {
                        modifier = "32";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("giratina origin"))
                    {
                        modifier = "33";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("shaymin land"))
                    {
                        modifier = "34";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("shaymin sky"))
                    {
                        modifier = "35";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("alola"))
                    {
                        modifier = "61";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("galar"))
                    {
                        modifier = "31";
                    }
                    else if (Model.ChosenPoke.Name.ToLower().Contains("mega"))
                    {
                        modifier = "51";
                    }
                    else
                    {
                        modifier = "00";
                    }

                    @{string dex = Model.ChosenPoke.Dex.ToString("D3");}

                    <td>
                        <div class="text-center">
                            <img class="py-0" src="~/images/pokes/pokemon_icon_@(dex)_@(modifier).png" alt="@Model.ChosenPoke.Name" style="height: 180px; max-width: 200px" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="mx-auto text-center"><h4><strong>AVAILABLE FAST MOVES FOR THIS POKE</strong></h4></div><br />
        <div class="mx-auto text-center"><h5>Please choose 1 Fast Move.</h5></div><br />
        
        <table class="mx-auto text-center">
            <tbody>
                @*ADD IN A TABLE THAT LISTS ALL MOVES FOR THE POKE*@
                <tr class="align-top text-center">
                    <td colspan="3">
                        <div class="text-center"><h5><strong>Available Fast Moves</strong></h5></div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <form id="fastMoveForm" name="fastMoveForm" valign="bottom" method="post" action="QuickMoves" class="m-2">

                            @foreach (Move fastMove in Model.ChosenPoke.QuickMoves)
                            {
                                <input type="hidden" id="@fastMove.Id" name="fastMove" value="false" />
                                <input type="checkbox" id="@fastMove.Id" name="fastMove" value="@fastMove.Id" />
                                <label for="fastMove" class="h5"><img alt="@fastMove.PokemonType.Name" src="~/images/types/@(fastMove.PokemonType.Id).png" height="45" />&nbsp;@fastMove.Name</label><br />

                            }
                            <br />
                            <button class="btn btn-success" type="submit" form="fastMoveForm">Submit My Moves!</button>
                        </form>
                    </td>                                      
                </tr>
            </tbody>
        </table>
        <br />
        <div class="mx-auto text-center">
            
        </div>































    </div>
}
else
{
    <div class="mx-auto text-center">SOMETHING WENT WRONG. TRY AGAIN</div>
    <br />
    <form method="post" action="MyTeam" id="myTeam" name="myTeam" class="mx-auto text-center">
        <button class="btn btn-danger" name="myTeam" value="myTeam" id="myTeam">GO BACK TO MY TEAM</button>
    </form>
}