@model List<PoGoBattleHelper.Models.Pokemon>

<div class="text-center">
    <h1 class="display-4"><strong>PoGo Battle Helper</strong></h1>
</div>
<div class="text-center">
    <div style="padding: 100px 0px 50px;" class="text-center">
        <h3>Choose first type</h3>
    </div>
    <br />
    <h4>Pokemon Types:</h4>
    <table align="center">
        <tbody>
            <tr>
                <td>
                    <form id="bugType" name="bugType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="bugType" name="bugType" value="Bug" />
                        <input id="bugType" name="bugType" type="image" alt="Bug" src="~/images/types/POKEMON_TYPE_BUG.png">
                    </form>
                </td>
                <td>
                    <form id="darkType" name="darkType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="darkType" name="darkType" value="Dark" />
                        <input id="darkType" name="darkType" type="image" alt="Dark" src="~/images/types/POKEMON_TYPE_DARK.png">
                    </form>
                </td>
                <td>
                    <form id="dragonType" name="dragonType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="dragonType" name="dragonType" value="Dragon" />
                        <input id="dragonType" name="dragonType" type="image" alt="Dragon" src="~/images/types/POKEMON_TYPE_DRAGON.png">
                    </form>
                </td>
                <td>
                    <form id="electricType" name="electricType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="electricType" name="electricType" value="Electric" />
                        <input id="electricType" name="electricType" type="image" alt="Electric" src="~/images/types/POKEMON_TYPE_ELECTRIC.png">
                    </form>
                </td>
                <td>
                    <form id="fairyType" name="fairyType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="fairyType" name="fairyType" value="Fairy" />
                        <input id="fairyType" name="fairyType" type="image" alt="Fairy" src="~/images/types/POKEMON_TYPE_FAIRY.png">
                    </form>
                </td>
                <td>
                    <form id="fightingType" name="fightingType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="fightingType" name="fightingType" value="Fighting" />
                        <input id="fightingType" name="fightingType" type="image" alt="Fighting" src="~/images/types/POKEMON_TYPE_FIGHTING.png">
                    </form>
                </td>
                <td>
                    <form id="fireType" name="fireType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="fireType" name="fireType" value="Fire" />
                        <input id="fireType" name="fireType" type="image" alt="Fire" src="~/images/types/POKEMON_TYPE_FIRE.png">
                    </form>
                </td>
                <td>
                    <form id="flyingType" name="flyingType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="flyingType" name="flyingType" value="Flying" />
                        <input id="flyingType" name="flyingType" type="image" alt="Flying" src="~/images/types/POKEMON_TYPE_FLYING.png">
                    </form>
                </td>
                <td>
                    <form id="ghostType" name="ghostType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="ghostType" name="ghostType" value="Ghost" />
                        <input id="ghostType" name="ghostType" type="image" alt="Ghost" src="~/images/types/POKEMON_TYPE_GHOST.png">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form id="grassType" name="grassType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="grassType" name="grassType" value="Grass" />
                        <input id="grassType" name="grassType" type="image" alt="Grass" src="~/images/types/POKEMON_TYPE_GRASS.png">
                    </form>
                </td>
                <td>
                    <form id="groundType" name="groundType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="groundType" name="groundType" value="Ground" />
                        <input id="groundType" name="groundType" type="image" alt="Ground" src="~/images/types/POKEMON_TYPE_GROUND.png">
                    </form>
                </td>
                <td>
                    <form id="iceType" name="iceType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="iceType" name="iceType" value="Ice" />
                        <input id="iceType" name="iceType" type="image" alt="Ice" src="~/images/types/POKEMON_TYPE_ICE.png">
                    </form>
                </td>
                <td>
                    <form id="normalType" name="normalType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="normalType" name="normalType" value="Normal" />
                        <input id="normalType" name="normalType" type="image" alt="Normal" src="~/images/types/POKEMON_TYPE_NORMAL.png">
                    </form>
                </td>
                <td>
                    <form id="poisonType" name="poisonType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="poisonType" name="poisonType" value="Poison" />
                        <input id="poisonType" name="poisonType" type="image" alt="Poison" src="~/images/types/POKEMON_TYPE_POISON.png">
                    </form>
                </td>
                <td>
                    <form id="psychicType" name="psychicType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="psychicType" name="psychicType" value="Psychic" />
                        <input id="psychicType" name="psychicType" type="image" alt="Psychic" src="~/images/types/POKEMON_TYPE_PSYCHIC.png">
                    </form>
                </td>
                <td>
                    <form id="rockType" name="rockType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="rockType" name="rockType" value="Rock" />
                        <input id="rockType" name="rockType" type="image" alt="Rock" src="~/images/types/POKEMON_TYPE_ROCK.png">
                    </form>
                </td>
                <td>
                    <form id="steelType" name="steelType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="steelType" name="steelType" value="Steel" />
                        <input id="steelType" name="steelType" type="image" alt="Steel" src="~/images/types/POKEMON_TYPE_STEEL.png">
                    </form>
                </td>
                <td>
                    <form id="waterType" name="waterType" valign="center" method="post" action="/Home/GetType">
                        <input type="hidden" id="waterType" name="waterType" value="Water" />
                        <input id="waterType" name="waterType" type="image" alt="Water" src="~/images/types/POKEMON_TYPE_WATER.png">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br/>
<div class="text-center">
    @if (ViewBag.possiblePokes.Count == 0)
    {
        <p>Choose a type to see possible Pokemon with that type here.</p>
    }
    else
    {
        int counter = 0;
        <table align="center">
            <tbody>
                <tr vertical-align="bottom">
                    @foreach (Pokemon poke in ViewBag.possiblePokes)
                    {
                        string modifier = "00";
                        @if (@poke.Name.ToLower().Contains("castform sunny"))
                        {
                            modifier = "12";
                        }
                        else if (@poke.Name.ToLower().Contains("castform rainy"))
                        {
                            modifier = "13";
                        }
                        else if (@poke.Name.ToLower().Contains("castform snowy"))
                        {
                            modifier = "14";
                        }
                        else if (@poke.Name.ToLower().Contains("deoxys attack"))
                        {
                            modifier = "16";
                        }
                        else if (@poke.Name.ToLower().Contains("deoxys defense"))
                        {
                            modifier = "17";
                        }
                        else if (@poke.Name.ToLower().Contains("deoxys speed"))
                        {
                            modifier = "18";
                        }
                        else if (@poke.Name.ToLower().Contains("burmy plant"))
                        {
                            modifier = "19";
                        }
                        else if (@poke.Name.ToLower().Contains("burmy sandy"))
                        {
                            modifier = "20";
                        }
                        else if (@poke.Name.ToLower().Contains("burmy trash"))
                        {
                            modifier = "21";
                        }
                        else if (@poke.Name.ToLower().Contains("wormdam plant"))
                        {
                            modifier = "22";
                        }
                        else if (@poke.Name.ToLower().Contains("wormdam sandy"))
                        {
                            modifier = "23";
                        }
                        else if (@poke.Name.ToLower().Contains("wormdam trash"))
                        {
                            modifier = "24";
                        }
                        else if (@poke.Name.ToLower().Contains("cherrim overcast"))
                        {
                            modifier = "25";
                        }
                        else if (@poke.Name.ToLower().Contains("cherrim sunny"))
                        {
                            modifier = "26";
                        }
                        else if (@poke.Name.ToLower().Contains("rotom heat"))
                        {
                            modifier = "27";
                        }
                        else if (@poke.Name.ToLower().Contains("rotom wash"))
                        {
                            modifier = "28";
                        }
                        else if (@poke.Name.ToLower().Contains("rotom frost"))
                        {
                            modifier = "29";
                        }
                        else if (@poke.Name.ToLower().Contains("rotom fan"))
                        {
                            modifier = "30";
                        }
                        else if (@poke.Name.ToLower().Contains("rotom mow"))
                        {
                            modifier = "31";
                        }
                        else if (@poke.Name.ToLower().Contains("giratina altered"))
                        {
                            modifier = "32";
                        }
                        else if (@poke.Name.ToLower().Contains("giratina origin"))
                        {
                            modifier = "33";
                        }
                        else if (@poke.Name.ToLower().Contains("shaymin land"))
                        {
                            modifier = "34";
                        }
                        else if (@poke.Name.ToLower().Contains("shaymin sky"))
                        {
                            modifier = "35";
                        }

                        string dex = poke.Dex.ToString("D3");

                        <td vertical-align="bottom">
                            <form id=@poke.Name name=@poke.Name valign="bottom" method="post" action="/Home/GetType">
                                <input type="hidden" id=@poke.Name name=@poke.Name value=@poke.Name />
                                <input id=@poke.Name name=@poke.Name type="image" alt=@poke.Name src="~/images/pokes/pokemon_icon_@(dex)_@(modifier).png">
                            </form>
                            <br />
                            <span>@poke.Name</span>
                        </td>
                        counter++;
                        if (counter % 5 == 0)
                        {
                        @:</tr><tr>
                        }
                    }
                </tr>
            </tbody>
        </table>
    }
</div>