@{
    ViewData["Title"] = "Home Page";
}

@model PoGoBattleHelper.ViewModels.ChooseTeamViewModel;



<div class="text-center">
    <a asp-controller="ChooseTeam" asp-action="Index">Choose Pokemon by Type</a>
</div>
<br />
<br />
<br />

@*FOR TESTING BELOW*@
@if (Model.MyTeam != null)
{
    <div class="mx-auto text-center"><h4><strong>My Team Test</strong></h4></div>
    @if (Model.MyTeam.Count == 0)
    {<div class="mx-auto text-center">Please choose a team to test me</div>}
    <table class="table mx-auto">
        <tbody>
            @foreach (Pokemon poke in Model.MyTeam)
            {
                <tr>
                    <td>
                        <b>Poke:</b> @poke.Name
                    </td>
                    @foreach (PoGoBattleHelper.Models.Type type in poke.Types)
                    {
                        <td>
                            <b>Type:</b> @type.Name
                        </td>
                    }
                    @foreach (Move move in poke.CinematicMoves)
                    {
                        <td>
                            <b>Charged Move:</b> @move.Name
                        </td>
                        @*<td>MOVE TEST: @move.PokemonType.Name</td>*@
                    }
                    @foreach (Move move in poke.QuickMoves)
                    {
                        <td>
                            <b>Fast Move:</b>  @move.Name
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


<br />
<br />
<div class="mx-auto text-center"><h4><strong>My Move Test</strong></h4></div>
<table class="table mx-auto text-center">
    <tbody>
        @foreach (Move move in Model.Moves)
        {
        <tr>
            <td>
                <b>Name:</b> @move.Name
            </td>
            <td>
                <b>Type:</b> @move.PokemonType.Name
            </td>
            <td>
                <b>Power:</b> @move.Power
            </td>
        </tr>
        }
    </tbody>
</table>


<br />
<br />
<div class="mx-auto text-center"><h4><strong>My Type Test</strong></h4></div>
<table class="table">
    @foreach (PoGoBattleHelper.Models.Type type in Model.Types)
    {
        <tr>
            <td><strong>Name:</strong> @type.Name</td>
            <td><strong>ID:</strong> @type.Id</td>
            @foreach (Damage stat in type.Damage)
            {
                <td><strong>Damage Stat: </strong>@stat.Id</td>
                <td><strong>Scalar: </strong>@stat.AttackScalar.ToString()</td>
            }

        </tr>
    }
</table>


<br />
<br />
<div class="mx-auto text-center"><h4><strong>My Pokemon Test</strong></h4></div>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Type1</th>
            <th>Type2</th>
        </tr>
        @foreach (Pokemon poke in Model.Pokes)
        {
            <tr>
                <td>@poke.Name</td>
                @foreach (PoGoBattleHelper.Models.Type type in poke.Types)
                {
                    <td>@type.Name</td>
                }

            </tr>
        }
    </tbody>
</table>


@*THIS IS HOW TO FORMAT A REGULAR IMAGE*@

@*<div>
        <img src='@Url.Content("~/images/types/POKEMON_TYPE_BUG.png")' alt="bug type" />
    </div>*@

@*FOR TESTING ABOVE*@